<html>
    <head>
        <meta charset="utf8"/>
        <style type="text/css">
            .list_row{display:table-row;overflow:hidden;} 
            .list_cell{display:table-cell; width:30%; margin-bottom:-100px; padding:1.6%;*padding-bottom:100px; background-color:#f5f5f5;*float:left;}/*中间一个元素背景淡蓝，有别于两边的淡灰色*/ .list_center{background-color:#f0f3f9;}
        </style>
    </head>
    <body>
        <ul class="list_row">
            <li class="list_cell">
                我们都知道，单元格有一些比较特别的属性，例如元素的垂直居中对齐，关联伸缩等，所以display:table-cell还是有不少潜在的使用价值的，虽说IE6/7不支持此属性，但是幸运的是，IE6/7一些乱糟糟的属性与渲染，我们可以其他方法实现同样或是类似的效果。
            </li>
            <li class="list_cell list_center">
                与其他一些display属性类似，table-cell同样会被其他一些CSS属性破坏
            </li>
            <li class="list_cell">
                我们都知道，单元格有一些比较特别的属性，例如元素的垂直居中对齐，关联伸缩等，所以display:table-cell还是有不少潜在的使用价值的，
            </li>
        </ul>
    </body>
</html>







