<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .content {
			position: relative;
			padding:0 150px 0 200px;
        }
		.main, .left, .right {
			height: 100%;
			top: 0;
		}
		.main {
			width: 100%;
			background: yellow;
		}
        .left {
            width: 200px;
            background: red;
			position: absolute;
			left: 0;
        }
        .right {
            width: 150px;
			background: green;
			position: absolute;
			right: 0;
        }
		
    </style>
</head>
<body>
    <div class="content">
		<div class="main">mainmainmainmain</div>
        <div class="left">leftleftleftleft</div>
        <div class="right">rightrightright</div>
    </div>
</body>
</html>